DOMAIN='domain.example.com'
ROOT_DOMAIN='example.com'
NETBIRD_IP='x.x.x.x'
TZ='UTC'
STORAGE_PATH=''
DATA_PATH="${STORAGE_PATH}/data"
DBS_PATH="${STORAGE_PATH}/dbs"
ENC_PATH="${STORAGE_PATH}/encrypted"
CACHE_PATH="$HOME/.cache"
LITELLM_API_KEY=sk-xxxxxxxxxxxxxxx
