#   openssl rand -hex 32  # CREDS_KEY, JWT_SECRET, JWT_REFRESH_SECRET
#   openssl rand -hex 16  # CREDS_IV, MEILI_MASTER_KEY

CREDS_KEY=
CREDS_IV=
JWT_SECRET=
JWT_REFRESH_SECRET=
MEILI_MASTER_KEY=

ADMIN_PANEL_SESSION_SECRET=

LITELLM_API_KEY=

SEARXNG_INSTANCE_URL=http://searxng_core:8080

FIRECRAWL_API_URL=http://firecrawl:3002
FIRECRAWL_API_KEY=
