LITELLM_MASTER_KEY=
LITELLM_SALT_KEY=
STORE_MODEL_IN_DB="True"

POSTGRES_PASSWORD=
POSTGRES_USER=llmproxy
POSTGRES_DB=litellm
DATABASE_URL="postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@db:5432/$POSTGRES_DB"
